# Created by .gitignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# sbt specific
.bloop
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# idea specific
*.idea

# Scala-IDE specific
.scala_dependencies
.worksheet

# Mac
*.DS_Store
*/.DS_Store
coretests/lib/
examples/lib/
project/project/
